@import '../../components/style/variables/colors'
@import '../../components/style/variables/fonts'
@import '../../components/style/themes/themes'

.footerBox
    width: 100%
    height: 8%
    border-radius: 25px 25px 0 0
    @include themify('background-color', 'secondary')
    font-family: map-get($FONT, Primary)
    display: flex
    justify-content: center
    align-items: center
    user-select: none

.signature
    text-decoration: none
    @include themify('color', 'background')
    font-weight: 600
    &:hover 
        @include themify('color', 'erroDetail')

.stamp
    width: 50px
    height: 50px
    filter: drop-shadow(0 0 0.3rem #5C0EAB)
