$DARK: (
    primary: #84d994,
    primaryDetail: #005224,
    secondary: #ffb950,
    secondaryDetail: #452b00,
    tertiary: #ffb3b3,
    tertiaryDetail: #7e2a2f,
    erro: #ffb4ab,
    erroDetail: #93000a,
    surface: #1a1a1a,
    background:#121212,
    dark:#121212,
    light: #fffbff,
) 