$DARK: (
    primary: #84d994,
    secondary: #ffb950,
    tertiary: #ffb3b3,
    erro: #93000a,
    surface: #1a1a1a,
    background:#121212,
    dark:#121212,
    light: #fffbff,
    transparent: #ffffff00,
    contrast: #fffbff,
    shadow:#ffffff3b,
    shine: #1bfd9c66,
    shine2: #1bfd9c1a,
) 