$LIGHT: (
    primary: #9a4059,
    primaryDetail: #ffd9df,
    secondary: #825500,
    secondaryDetail: #ffddb2,
    tertiary: #9c4145,
    tertiaryDetail: #ffdad9,
    erro: #ba1a1a,
    erroDetail: #ffdad6,
    surface: #B6B6B6,
    background: #EDEDED,
    dark:#121212,
    light: #fffbff,
    transparent: #ffffff00,
    shadow:#ffffff3b,
)