$LIGHT: (
    primary: #F9D949,
    secondary: #3C486B,
    tertiary: #F24C3D,
    erro: #F45050,
    surface: #ebebeb,
    background: #F9F4F4,
    dark:#121212,
    light: #fffbff,
    transparent: #ffffff00,
    contrast: #121212,
    shadow:#d7d7d73b,
    strongGlow: #efc81c7b,
    dimGlow: #e0c02e8e,
)