$LIGHT: (
    primary: #9a4059,
    secondary: #825500,
    tertiary: #9c4145,
    erro: #fcd0cb,
    surface: #B6B6B6,
    background: #EDEDED,
    dark:#121212,
    light: #fffbff,
    transparent: #ffffff00,
    contrast: #121212,
    shadow:#ffffff3b,
    strongGlow: #1bfd9c1a,
    dimGlow: #1bfd9c66,
)