$PRIMARY_COLOR: (
    "Light": #9a4059,
    "Dark": #84d994,
);
$PRIMARY_DETAIL_COLOR: (
    "Light": #ffd9df,
    "Dark": #005224,
);
$SECUNDARY_COLOR: (
    "Light": #825500,
    "Dark": #ffb950,
);
$SECUNDARY_DETAIL_COLOR: (
    "Light": #ffddb2,
    "Dark": #452b00,
);
$TERTIARY_COLOR: (
    "Light": #9c4145,
    "Dark": #ffb3b3,
);
$TERTIARY_DETAIL_COLOR: (
    "Light": #ffdad9,
    "Dark": #7e2a2f,
);
$ERRO_COLOR: (
    "Light": #ba1a1a,
    "Dark": #ffb4ab,
);
$ERRO_DETAIL_COLOR: (
    "Light": #ffdad6,
    "Dark": #93000a,
);
$BACKGROUND: (
    "Light": #fffbff,
    "Dark": #121212,
);
$SURFACE: (
    "Light": #201a1b,
    "Dark": #e2e3de,
);