@import "../../../components/style/variables/colors"
@import '../../../components/style/variables/fonts'
@import '../../../components/style/variables/keyframes'

.summary
    width: 80% 
    height: auto
    padding: 30px 20px
    margin: 80px 0px 100px 0px
    text-align: center
    border-radius: 20px
    background: #6161611f
    box-shadow: 0 8px 32px 0 #ffffff2e
    backdrop-filter: blur( 14px )
    -webkit-backdrop-filter: blur( 14px )
    border: 1px solid #ffffff2e
    user-select: none
    animation: $Shadow_Blur  4s linear infinite

    &::before
        content: '●'
        font-size: 2rem
        position: fixed
        left: 10%
        color: map-get($SECUNDARY_COLOR, Dark)
        animation: $Bright_Pulse 4s infinite

    &::after
        content: '●'
        font-size: 2rem
        position: fixed
        right: 10%
        color: map-get($SECUNDARY_COLOR, Dark)
        animation: $Bright_Pulse_Inverter 4s infinite  


.summary h1
    font-family: map-get($FONT, Primary)
    font-size: 2.5rem
    color: map-get($PRIMARY_DETAIL_COLOR, Light)
    letter-spacing: 2px
    margin-bottom: 24px

.summary p
    font-family: map-get($FONT, Terthary)
    font-size: 1.6rem
    margin-bottom: 24px
    color: map-get($PRIMARY_DETAIL_COLOR, Light)