@import "../../../components/style/variables/colors";
@import '../../../components/style/variables/fonts';
@import '../../../components/style/variables/keyframes';
@import '../../../components/style/themes/themes';

.summary{
    width: 80%;
    height: auto;
    padding: 30px 20px;
    margin: 80px 0px 100px 0px;
    text-align: center;
    border-radius: 20px;
    @include themify('background-color', 'surface');
    @include boxShadowTheme('box-shadow','strongGlow','0 8px 32px 0');
    backdrop-filter: blur( 14px );
    -webkit-backdrop-filter: blur( 14px );
    @include boxShadowTheme('border','strongGlow','1px solid');
    user-select: none;

}

.titleBody{
    font-family: map-get($FONT, Primary);
    @include themify('color', 'contrast');
    letter-spacing: 2px;
    user-select: none;
    font-size: 2.5rem;
    padding: 30px 0;
}

.paragraphBody{
    font-family: map-get($FONT, Terthary);
    font-size: 1.6rem;
    margin-bottom: 24px;
    @include themify('color', 'contrast');
}