@import '../style/variables/colors'

.body
    max-width: 100%
    height: auto
    display: flex
    align-items: center
    flex-direction: column

.bodySection
    width: 80%
    height: auto
    display: flex
    align-items: center
    justify-content: space-evenly
    flex-direction: column
    margin-bottom: 100px 