@import "../style/variables/colors"
@import "../style/variables/fonts"

.cardDarkBorder
    min-width: 250px
    width: 20%
    height: 300px
    background-image: linear-gradient(163deg, map-get($PRIMARY_COLOR, Dark) 0%, map-get($SECUNDARY_COLOR, Dark) 100%)
    border-radius: 20px
    margin: 50px
    transition: all .3s
    flex: none
    cursor: grab

.cardDarkBody
    width: 100%
    height: 100%
    background-color: #1a1a1a
    border-radius: 16px
    transition: all .2s
    display: flex
    align-items: center
    justify-content: space-evenly
    text-align: center
    flex-direction: column

.cardDarkBody:hover 
    transform: scale(0.98)
    border-radius: 20px

.cardDarkBorder:hover 
    box-shadow: 0px 0px 30px 1px #d0ff004d

.cardDarkTitle
    font-family: map-get($FONT, Primary)
    font-size: 1.5rem
    color: map-get($PRIMARY_DETAIL_COLOR, Light)

.cardDarkParagraph
    font-family: map-get($FONT, Terthary)
    font-size: 1.2rem
    color: map-get($PRIMARY_DETAIL_COLOR, Light)
