@keyframes rotation
    0%
        transform: rotate(0deg)
    100%
        transform: rotate(360deg) 

$Rotation: rotation

@keyframes shake
    0%
        transform: translate(2px,2px),rotate(0deg)
    10%
        transform: translate(-2px,-3px) rotate(-2deg)
    20%
        transform: translate(-3px,0px) rotate(2deg)
    30%
        transform: translate(3px,3px) rotate(0deg)
    40%
        transform: translate(2px,-2px) rotate(2deg)
    50%
        transform: translate(-2px,3px) rotate(-2deg)
    60%
        transform: translate(-3px,2px) rotate(0deg)
    70%
        transform: translate(3px,2px) rotate(-2deg)
    80%
        transform: translate(-2px,-2px) rotate(2deg)
    90%
        transform: translate(2px,3px) rotate(0deg)
    100%
        transform: translate(2px,-3px) rotate(-2deg)

$Shake: shake

@keyframes floating
    0%
       transform: translateY(5px) 
    50%
        transform: translateY(-5px)
    100%
        transform: translateY(5px)
    
$Floating: floating

@keyframes floating_reverse
    0%
       transform: translateY(-5px) 
    50%
        transform: translateY(5px)
    100%
        transform: translateY(-5px)
    
$Floating_Reverse: floating_reverse

@keyframes shadowBlur
    0%
        box-shadow: 0 8px 32px 0 #ffffff2e        
    50%
        box-shadow: 0 8px 32px 0 #ffffff00
    100%
        box-shadow: 0 8px 32px 0 #ffffff2e 
        
$Shadow_Blur: shadowBlur

@keyframes brightPulse
    0%
        filter: brightness(100%)
        opacity: 0%
        text-shadow: 0px 0px 0px #ffb94f96
        top: 8%
    50%
        filter: brightness(200%)
        opacity: 90%
        text-shadow: 0px 0px 20px #ffb94f96
        top: 2%
    100%
        filter: brightness(100%)
        opacity: 0%
        text-shadow: 0px 0px 0px #ffb94f96
        top: 8%
        
$Bright_Pulse: brightPulse

@keyframes brightPulseInverter
    0%
        filter: brightness(100%)
        opacity: 0%
        text-shadow: 0px 0px 0px #ffb94f96
        bottom: 8%
    50%
        filter: brightness(200%)
        opacity: 90%
        text-shadow: 0px 0px 20px #ffb94f96
        bottom: 2%
    100%
        filter: brightness(100%)
        opacity: 0%
        text-shadow: 0px 0px 0px #ffb94f96
        bottom: 8%
        
$Bright_Pulse_Inverter: brightPulseInverter