@import './variables/colors'
@import './variables/fonts'

* 
    margin: 0
    padding: 0 
    box-sizing: border-box

.app
    width: 100vw
    height: 100vh
    background-color: $Background_dark
    display: flex

    